<% content_for :content_follow_race do %>
	
	<div class="row col-lg-12">
		<a href="http://grandraid.sfr.re/pages/coureur/scratch.jsp?dossard=145" 
		target="_blank" class="btn btn-large btn-warning col-lg-12"> <i class="glyphicon glyphicon glyphicon-road"></i> 
		Suivez la course de Nicolas en LIVE ! DOSSARD 145 <i class="glyphicon glyphicon glyphicon-road"></i></a>
	</div>

	<div class="row col-lg-12" style="padding-top:30px; padding-bottom:30px;">
		Mise à jour 22:00 (Réunion) 22/10/2015 : Début de la course ! Avec une pluie fine...<br>
		Mise à jour 06:00 (Réunion) 23/10/2015 : Passage du Piton de la Fournaise ! Le plus haut sommet de la course...<br>
		Mise à jour 22:00 (Réunion) 23/10/2015 : La moitié de la course déjà terminée ! Une incroyable performance...<br>
		Mise à jour 10:00 (Réunion) 24/10/2015 : Au sommet du col Maido ! La plus grande difficulté est passée...<br>

		<h1 class="reddark">
			<center>
			C'est terminé !!! ENORME PERFORMANCE de Nicolas, <br>
			INCROYABLE, 164 KM, 10000MD+, 51H20<br>
			IL L'A FAIT !!! BRAVO !!!
			</center>
		</h1>


		<div class="col-lg-8 col-lg-push-2" style="margin-top:30px;">
			<%= image_tag "updatefinal.png", class:"img-responsive" %>
		</div>
	</div>

	<br> <br>
	<div class="row col-lg-12" style="padding-bottom:30px;">

		<a href="http://www.facebook.com/privet.nicolas?ref=ts&fref=ts"  id="icon_fb">
			<%= image_tag "icon_fb.png", class: "col-md-1 col-md-push-5" %>
		</a>
	</div>

	<div class="row col-lg-12">
		<div class="col-md-4" style="margin-top:30px;">
			<%= image_tag "follow1.jpg", class:"img-responsive" %>
		</div>
		<div class="col-md-4">
			<%= image_tag "follow2.jpg", class:"img-responsive" %>
		</div>
		<div class="col-md-4">
			<%= image_tag "follow3.jpg", class:"img-responsive" %>
		</div>
	</div>

	<br><br>
	<div class="row col-lg-12">
		<h1 class="reddark" style="margin-top:30px;">
			ALLEZ NICO !!! VAMOS NICO !!! COME ON NICO !!! <br>
			ĐI NÀO NICO !!! LATEN WE GAAN NICO !!! FORZA NICO !!!
		</h1>
	</div>
<% end %>

<% content_for :content_intro do %>
	<p>Bienvenue !!</p>

	<p>Merci de prendre le temps de visiter cette page !<br>
	L’objectif de cette page est de collecter une petite somme d’argent sympa pour l’association « Les enfants du Dragon » ; qui réalise des choses formidables au Vietnam afin d’aider des enfants dans le besoin et leur familles. Pour en savoir plus sur l’association et ses activités, merci de consulter soit la partie dédiée plus bas ou de visiter directement leur site internet.</p>

	<p>Pour collecter cette somme, je m’apprête a participer à l’une course de trail parmi l’une des dix réputées comme étant les plus dures au monde : «  La diagonale des fous ». Cette course, qui se déroule sur l’ile de La Réunion débutera le 22 Octobre 2015 et consiste en un parcours de 163km et 9996 mètres de dénivelé positif. Pour en savoir plus sur la Diagonale des fous, visiter la partie dédiée ci-dessous ou visiter le site officiel.  
	<br><a href="https://www.google.fr/maps/place/R%C3%A9union/@-21.1306889,55.5264794,10z/data=!3m1!4b1!4m2!3m1!1s0x2178778110b8e43b:0x4a7f8e89ecdbeaf9" target="_blank" class="remove-link">Voir l'emplacement <i class="glyphicon glyphicon-screenshot"></i></a></p>

	<p>Vous êtes invités à soutenir le projet en faisant une promesse de don ci-dessous, qui dépendra de la distance totale que je parcourrai pendant la course ! (Bien sur je compte la finir !!!). 100% des dons seront verses directement à l’association.</p>

	<p>Veuillez visiter les rubriques ci-dessous pour en apprendre davantage sur le projet, et j’espère, faire un don à l’association. Il n’y a pas de petits dons, chaque Euro, Dollar, ou Dong compte !!!</p>

	<p>Enfin, si parallèlement à votre soutien a l’association, vous êtes intéressé pour me sponsoriser, c’est excellent! Pour cela, merci de me contacter directement. A ce jour, je reçois le soutien de Salomon Vietnam et du Ruby Soho Phu My Hung !.</p>

	<p>Dans le cas où vous auriez des questions suite à votre visite du site, merci de me contacter par email : 
		<a href="mailto:nicolas.privet@gmail.com" target="_top" class="remove-link">Nicolas.privet@gmail.com</a></p>

	<p class="secondarycolor"><b>Bonne Visite  !!!</b></p>
<% end %>