<% content_for :content_follow_race do %>
	
	<div class="row col-lg-12">
		<a href="http://grandraid.sfr.re/pages/coureur/scratch.jsp?dossard=145" 
		target="_blank" class="btn btn-large btn-warning col-lg-12"> <i class="glyphicon glyphicon glyphicon-road"></i> 
		Theo các live đua ! cái yếm 145 <i class="glyphicon glyphicon glyphicon-road"></i></a>
	</div>

	<div class="row col-lg-12" style="padding-top:30px; padding-bottom:30px;">
		Update 22:00 (Réunion) 22/10/2015 : Race start ! With little rain...<br>
		Update 06:00 (Réunion) 23/10/2015 : Piton passed ! Highest Race Mount...<br>
		Update 22:00 (Réunion) 23/10/2015 : Already Half of the race ! An amazing race...<br>
		Update 10:00 (Réunion) 24/10/2015 : On top of Maido ! He succeed in the most difficult part of the race...<br>

		<h1 class="reddark">
			<center>
			THIS IS THE END !!! AMAZING JOB from Nicolas, <br>
			UNBELIEVABLE, 164 KM, 10000MD+, 51h20<br>
			HE DID IT !!! CONGRATULATIONS !!!
			</center
		</h1>

		<div class="col-lg-8 col-lg-push-2" style="margin-top:30px;">
			<%= image_tag "updatefinal.png", class:"img-responsive" %>
		</div>
	</div>

	<br> <br>
	<div class="row col-lg-12" style="padding-bottom:30px;">

		<a href="http://www.facebook.com/privet.nicolas?ref=ts&fref=ts"  id="icon_fb">
			<%= image_tag "icon_fb.png", class: "col-md-1 col-md-push-5" %>
		</a>
	</div>

	<div class="row col-lg-12">
		<div class="col-md-4" style="margin-top:30px;">
			<%= image_tag "follow1.jpg", class:"img-responsive" %>
		</div>
		<div class="col-md-4">
			<%= image_tag "follow2.jpg", class:"img-responsive" %>
		</div>
		<div class="col-md-4">
			<%= image_tag "follow3.jpg", class:"img-responsive" %>
		</div>
	</div>

	<br><br>
	<div class="row col-lg-12">
		<h1 class="reddark" style="margin-top:30px;">
			ALLEZ NICO !!! VAMOS NICO !!! COME ON NICO !!! <br>
			ĐI NÀO NICO !!! LATEN WE GAAN NICO !!! FORZA NICO !!!
		</h1>
	</div>
<% end %>

<% content_for :content_intro do %>


	<p>Xin chào mừng và cám ơn bạn đã ghé thăm trang này! <br>
	Mục tiêu của tôi ở đây là để gây quỹ theo tiêu chí vui là chính cho Tổ chức từ thiện "Les Enfants du Dragon", một hội từ thiện đã làm rất nhiều việc tuyệt vời tại Việt Nam để hỗ trợ trẻ em và gia đình cơ nhỡ. Bạn có thể tìm hiểu thêm về tổ chức này trong phần giới thiệu đặc biệt ở trang web này và trực tiếp trên trang web của họ.</p>

	<p>Để đạt được điều này, tôi sẽ chạy một trong 10 đường đua khó nhất trên thế giới có tên là "La diagonale des fous" bắt đầu từ ngày 22 tháng 10 năm 2015. Đây là đường đua duy nhất có chiều dài 163km ở độ cao 9996m, và sẽ diễn ra ở đảo nhiệt đới xinh đẹp "La Reunion". Bạn có thể tìm hiểu thêm về cuộc đua trong phần giới thiệu ở trang web này và trực tiếp trên trang web chính thức.   
	<br><a href="https://www.google.fr/maps/place/R%C3%A9union/@-21.1306889,55.5264794,10z/data=!3m1!4b1!4m2!3m1!1s0x2178778110b8e43b:0x4a7f8e89ecdbeaf9" target="_blank" class="remove-link">Xem vị trí <i class="glyphicon glyphicon-screenshot"></i></a></p>

	<p>Bạn được mời hỗ trợ dự án bằng cách cam kết sẽ ủng hộ theo thông tin bên dưới đây, mà cam kết này sẽ được thực hiện tùy thuộc vào khoảng cách tôi chạy được trong cuộc đua. (Tất nhiên là đến đích đường đua !!). 100% số tiền quyên góp sẽ được trao cho Tổ chức từ thiện.</p>

	<p>Xin vui lòng truy cập các mục dưới đây để tìm hiểu thêm về dự án, và hy vọng bạn sẽ đóng góp cho Tổ chức từ thiện này. Không có đóng góp nào là nhỏ, mỗi USD, EURO, và đồng Việt Nam đều có ý nghĩa!!!</p>

	

	<p class="secondarycolor"><b>Hãy tham quan trang web!!!</b></p>
<% end %>