<div class="container roboto-regular" style="margin-top: 50px;">
	<div class="bs-callout bs-callout-yellow row">

		<div class="col-lg-12">
			<h1 class="secondarycolor" style="margin-bottom:30px;"><%= t("whois_nicolas_title") %></h1>
		</div>
		
		<div class="row">
			<div class="col-lg-6">
				<%= image_tag "gallery/1.jpg", class:"img-responsive" %>
			</div>
			<div class="col-lg-6">
				<%= image_tag "gallery/2.jpg", class:"img-responsive" %>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6" style="margin-top:20px;">
				<%= image_tag "gallery/3.jpg", class:"img-responsive" %>
			</div>
			<div class="col-lg-6">
				<%= image_tag "gallery/4.png", class:"img-responsive" %>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6" style="margin-top:20px;">
				<%= image_tag "gallery/5.jpg", class:"img-responsive" %>
			</div>
			<div class="col-lg-6">
				<%= image_tag "gallery/6.jpg", class:"img-responsive" %>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6" style="margin-top:20px;">
				<%= image_tag "gallery/7.jpg", class:"img-responsive" %>
			</div>
			<div class="col-lg-6">
				<%= image_tag "gallery/8.jpg", class:"img-responsive" %>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6" style="margin-top:20px;">
				<%= image_tag "gallery/9.jpg", class:"img-responsive" %>
			</div>
			<div class="col-lg-6">
				<%= image_tag "gallery/10.jpg", class:"img-responsive" %>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6" style="margin-top:20px;">
				<%= image_tag "gallery/11.jpg", class:"img-responsive" %>
			</div>
			<div class="col-lg-6">
				<%= image_tag "gallery/12.jpg", class:"img-responsive" %>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6" style="margin-top:20px;">
				<%= image_tag "gallery/13.jpg", class:"img-responsive" %>
			</div>
			<div class="col-lg-6">
				<%= image_tag "gallery/14.jpg", class:"img-responsive" %>
			</div>
		</div>

	</div>
</div>