<div class="container roboto-regular" style="margin-top: 50px;">
	<div class="bs-callout bs-callout-yellow row">

		<div class="row col-lg-12">
			<h1 class="secondarycolor" style="margin-bottom:30px;"><%= t("gallery_diagonale") %></h1>
		</div>
		
		<div class="row col-lg-12" style="margin-bottom:20px;">
			<h4>Nicolas took all pictures below during his trip in La Reunion in 2005.</h4>
		</div>

		<div class="row" style="margin-top:20px;">
			<div class="col-lg-12">
				<%= image_tag "diagonale/1.JPG", class:"img-responsive" %>
			</div>
		</div>

		<div class="row" style="margin-top:20px;">
			<div class="col-lg-12">
				<%= image_tag "diagonale/2.JPG", class:"img-responsive" %>
			</div>
		</div>

		<div class="row" style="margin-top:20px;">
			<div class="col-lg-12">
				<%= image_tag "diagonale/3.JPG", class:"img-responsive" %>
			</div>
		</div>

		<div class="row" style="margin-top:20px;">
			<div class="col-lg-12">
				<%= image_tag "diagonale/4.JPG", class:"img-responsive" %>
			</div>
		</div>

		<div class="row" style="margin-top:20px;">
			<div class="col-lg-12">
				<%= image_tag "diagonale/5.JPG", class:"img-responsive" %>
			</div>
		</div>

		<div class="row" style="margin-top:20px;">
			<div class="col-lg-12">
				<%= image_tag "diagonale/6.JPG", class:"img-responsive" %>
			</div>
		</div>

		<div class="row" style="margin-top:20px;">
			<div class="col-lg-12">
				<%= image_tag "diagonale/7.JPG", class:"img-responsive" %>
			</div>
		</div>

		<div class="row" style="margin-top:20px;">
			<div class="col-lg-12">
				<%= image_tag "diagonale/8.JPG", class:"img-responsive" %>
			</div>
		</div>

		<div class="row" style="margin-top:20px;">
			<div class="col-lg-12">
				<%= image_tag "diagonale/9.JPG", class:"img-responsive" %>
			</div>
		</div>

		<div class="row" style="margin-top:20px;">
			<div class="col-lg-12">
				<%= image_tag "diagonale/10.JPG", class:"img-responsive" %>
			</div>
		</div>
	</div>
</div>