
<div style="margin-top: 50px;">
	<%= image_tag "new_banner.png", class: "img-home-banner" %>
</div>

<div class="container roboto-regular">

	<div class="row">
		<div class="row">
			<div class="col-lg-12" style="padding-top:20px;">
				<center><h3 style="text-transform: uppercase; font-size: 40px;" class="timer-title secondarycolor"><%= t("timer_remaining_time") %> :</h3></center>
			</div>
			<div class=" col-lg-4 col-lg-push-4">
				<div id="countdownContainer" style="height: 45px; background-color:white; border:none;"></div>
			</div>
			<div class="col-lg-12" style="padding-top:20px;">
				<center><h5 style="text-transform: uppercase;font-size:20px" class="timer-title secondarycolor"><%= t("start_date") %></h5></center>
			</div>
		</div>
	</div>

	<!-- Introduction -->
	<div class="bs-callout bs-callout-secondarycolor row" style="margin-top:20px;">
		<div class="col-lg-12">
			<h1 class="secondarycolor" style="margin-bottom:30px;"><%= t("introduction_title") %></h1>
		</div>
		<div class="col-lg-12" style="">
			<p>Welcome!!</p>

			<p>Thank you for visiting this page!<br>
			My objective here is to raise fund in a ludic way for a charity association “Les Enfants du Dragon” ; which is doing great things in Vietnam to support kids and their families in need. You can learn more about the association in the dedicated part of this website and directly on their website.</p>

			<p>To achieve this, I will run one of the top 10 most difficult trail race in the world, “La diagonale des fous” starting on the 22nd of October 2015. The race is a single stage of 163km with 9996m elevation, and will take place in the beautiful tropical Island “La Reunion”. You can learn more about the race in the dedicated part of this website and directly on the official website.</p>

			<p>You are invited to support the project by making a donation promise here below, which will be depending on how far I make it during the race. (of course to the end!!). 100% of the donation amount will be given to the association.</p>

			<p>Please visit the sections below to learn more about the project, and hopefully, make a donation for the association. There is no small donation, each USD, EURO, and VND counts!!!</p>

			<p>Last, on top of donating to the association, if you or your entity is interested in sponsoring me for the race, it is of course great. In this case, please contact me directly.</p>

			<p>If anything is unclear to you, please contact me directly at Nicolas.privet@gmail.com, I will reply asap.</p>

			<p class="secondarycolor"><b>Enjoy the visit!</b></p>

		</div>
	</div>

	<div class="row" style="margin-bottom:100px;" id="ancre_whatis_diagonale">
		<div class="col-lg-12">
			<div class="col-lg-2 col-lg-push-5">
				<h1><a href="#id_div_whatis_diagonale"><i class="glyphicon glyphicon-chevron-down secondarycolor"></i></a></h1>
			</div>
		</div>
	</div>

	<!-- What is la diagonale des fous -->
	<div class="bs-callout bs-callout-secondarycolor row"  style="margin-top:20px;" id="id_div_whatis_diagonale">
		<div class="col-lg-12">
			<h1 class="secondarycolor" style="margin-bottom:30px;"><%= t("whatis_diagonale_title") %></h1>
		</div>
		<div class="col-lg-12" style="margin-top:20px;">
			<div class="row">
				<div class="col-lg-6">
					<%= link_to url_diagonale_path, class: 'bold btn btn-default secondarycolor-bg white uppercase btn-secondarycolor-hover col-lg-12' do %>
						<%= t("read_more") %> <i class="glyphicon glyphicon-chevron-right"></i> 
					<% end %>
				</div>
				<div class="col-lg-6">
					<%= link_to url_gallerydiagonale_path, class: 'bold btn btn-default secondarycolor-bg white uppercase btn-secondarycolor-hover col-lg-12' do %>
						<%= t("gallery") %> <i class="glyphicon glyphicon-chevron-right"></i> 
					<% end %>
				</div>	
			</div>
		</div>
	</div>

	<!-- Who is Nicolas -->
	<div class="bs-callout bs-callout-secondarycolor row" style="margin-top:20px;">
		<div class="col-lg-12">
			<h1 class="secondarycolor" style="margin-bottom:30px;"><%= t("whois_nicolas_title") %> </h1>
		</div>
		<div class="col-lg-12">
			<div class="row" style="margin-top:20px;">
				<div class="col-lg-6">
					<%= link_to url_nicolasprivet_path, class: 'bold btn btn-default secondarycolor-bg white uppercase btn-secondarycolor-hover col-lg-12' do %>
						<%= t("read_more") %> <i class="glyphicon glyphicon-chevron-right"></i>
					<% end %>
				</div>
				<div class="col-lg-6">
					<%= link_to url_gallerynicolasprivet_path, class: 'bold btn btn-default secondarycolor-bg white uppercase btn-secondarycolor-hover col-lg-12' do %>
						<%= t("gallery") %> <i class="glyphicon glyphicon-chevron-right"></i> 
					<% end %>
				</div>	
			</div>
		</div>
	</div>

	<!-- How money raised, how to support -->
	<div class="bs-callout bs-callout-secondarycolor row" style="margin-top:20px;">
		<div class="col-lg-12">
			<h1 class="secondarycolor" style="margin-bottom:30px;"><%= t("how_support_title") %></h1>
		</div>
		<div class="col-lg-12" style="margin-top:20px;">
			<div class="row">
				<div class="col-lg-6">
					<%= link_to url_read_before_donation_path, class: 'bold btn btn-default secondarycolor-bg white uppercase btn-secondarycolor-hover col-lg-12' do %>
						<%= t("read_more") %> <i class="glyphicon glyphicon-chevron-right"></i>
					<% end %>
				</div>
			</div>
		</div>
	</div>

	<!-- Charity Enfants du dragon -->
	<div class="bs-callout bs-callout-secondarycolor row" style="margin-top:20px;">
		<div class="col-lg-12">
			<h1 class="secondarycolor" style="margin-bottom:30px;"><%= t("whois_charity_title") %></h1>
		</div>
		<div class="col-lg-12" style="margin-top:20px;">
			<div class="row">
				<div class="col-lg-6">
					<%= link_to url_association_path, class: 'bold btn btn-default secondarycolor-bg white uppercase btn-secondarycolor-hover col-lg-12' do %>
						<%= t("read_more") %> <i class="glyphicon glyphicon-chevron-right"></i>
					<% end %>
				</div>
			</div>
		</div>
	</div>

	<!-- Sponsors -->
	<div class="bs-callout bs-callout-secondarycolor row" style="margin-top:20px;">
		<div class="col-lg-12">
			<h1 class="secondarycolor" style="margin-bottom:30px;"><%= t("whoare_sponsors_title") %></h1>
		</div>
		<div class="col-lg-12" style="margin-top:20px;">
			<div class="row">
				<div class="col-lg-6">
					<%= link_to url_sponsors_path, class: 'bold btn btn-default secondarycolor-bg white uppercase btn-secondarycolor-hover col-lg-12' do %>
						<%= t("read_more") %> <i class="glyphicon glyphicon-chevron-right"></i>
					<% end %>
				</div>
			</div>
		</div>
	</div>

	<!-- Contacts -->
	<div class="bs-callout bs-callout-secondarycolor row" style="margin-top:20px;">
		<div class="col-lg-12">
			<h1 class="secondarycolor" style="margin-bottom:30px;"><%= t("contactus_title") %></h1>
		</div>
		<div class="col-lg-12" style="margin-top:20px;">
			<div class="row">
				<div class="col-lg-6">
					<%= link_to url_contacts_path, class: 'bold btn btn-default secondarycolor-bg white uppercase btn-secondarycolor-hover col-lg-12' do %>
						<%= t("read_more") %> <i class="glyphicon glyphicon-chevron-right"></i>
					<% end %>
				</div>
			</div>
		</div>
	</div>

</div>


<div class="container">
	<div class="row" style="margin-bottom:100px;" id="ancre_donations">
		<div class="col-lg-12">
			<div class="col-lg-2 col-lg-push-5">
				<h1><a href="#id_div_donations"><i class="glyphicon glyphicon-chevron-down secondarycolor"></i></a></h1>
			</div>
		</div>
	</div>

	<div class="bs-callout bs-callout-secondarycolor row" id="id_div_donations">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="secondarycolor">Donations</h1>
			</div>

			<div class="col-lg-12">
				
				<%= link_to new_fund_path, class: 'bold btn btn-default secondarycolor-bg white uppercase btn-secondarycolor-hover col-lg-6 col-lg-push-3' do %>
				  <h3><i class="glyphicon glyphicon-plus"></i> <%= t("make_new_donation") %> </h3>
				<% end %>

			</div>
		</div>

		<div class="row" style="margin-top:30px;">
			<div class="col-lg-12">
				<p><h3 class="secondarycolor"> <%= t("donation_per_km") %> : <%= number_with_precision(@donation_sum_euro, precision: 2) %> USD </h3></p>
			</div>
		</div>

		<div id="container-us-eu" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

		<div class="row">
			<div class="col-lg-12">
				<p><h3 class="secondarycolor"> <%= t("donation_per_km") %> : <%= number_with_precision(@donation_sum_dong, precision: 0) %> (Dongs) </h3></p>
			</div>
		</div>

		<!--<div id="container-vn" style="min-width: 310px; height: 400px; margin: 0 auto"></div>-->

		<div class="row">
			<div class="col-lg-12">
				<h3 class="secondarycolor"><%= t("has_made_donation") %> :</h3>
				<% @funds_display.each do |fund| %>
					<div class="row" style="margin:0px; padding:0px;">
						<div class="col-lg-6 content-fund-description" style="margin:5px; padding:10px;">
							<p> <span class="secondarycolor bold"><%= fund.firstname %> <%= fund.lastname %></span> 
							<!--<%= fund.donation_value %>
							<% if fund.devise == "euro" %>
								Euros
							<% elsif fund.devise == "usd" %>
								USD
							<% else fund.devise == "dong" %>
								Dongs
							<% end %> 
							 per Km-->
								<span style="float: right;"> (<%= fund.created_at.strftime("%d %b %y") %>)</span> 
							</p>
							<p><i><%= fund.comment %></i></p>
						</div>
					</div>
			  	<% end %>

				<div class="col-lg-6" style="margin-top:20px;">
					<%= link_to url_list_donations_path, class: 'bold btn btn-default secondarycolor-bg white uppercase btn-secondarycolor-hover col-lg-12' do %>
						<%= t("see_all_donations") %> : <%= @number_funds %> <i class="glyphicon glyphicon-chevron-right"></i>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	

</div>

<script type="text/javascript">
	$('#countdownContainer').countdown({until: new Date(2015, 10 - 1, 22, 20, 00, 00, 000)});	
	//new Date(year, month, day, hours, minutes, seconds, milliseconds) 
</script>

<script type="text/javascript">
	$('a[href^="#"]').on('click',function (e) {
	    e.preventDefault();

	    var target = this.hash;
	    var $target = $(target);

	    $('html, body').stop().animate({
	        'scrollTop': $target.offset().top
	    }, 900, 'swing', function () {
	        window.location.hash = target;
	    });
	});
</script>

<script type="text/javascript">

    $(function () {
	    $('#container-us-eu').highcharts({
	        title: {
	            text: 'Cumulative Donation per kilometer to date (represented in USD)',
	            x: -20 //center
	        },
	        xAxis: {
	        	title: {
	                text: 'Distance (km)'
	            },
	            categories: ['10km', '20km', '30km', '40km', '50km', '60km',
	                '70km', '80km', '90km', '100km', '110km', '120km',
	                '130km', '140km', '150km', '160km', '163km',
	                ]
	        },
	        yAxis: {
	            title: {
	                text: 'Donation Value'
	            },
	            plotLines: [{
	                value: 0,
	                width: 1,
	                color: '#4caf50'
	            }]
	        },
	        tooltip: {
	            valueSuffix: ''
	        },
	        legend: {
	            layout: 'vertical',
	            align: 'right',
	            verticalAlign: 'middle',
	            borderWidth: 0
	        },
	        series: [
	        {
	            name: 'USD',
	            color: '#03a9f4',
	            data: [<%= number_with_precision(@donation_sum_euro_array[0], precision: 2) %> , 
	            <%= number_with_precision(@donation_sum_euro_array[1], precision: 2) %>, 
	            <%= number_with_precision(@donation_sum_euro_array[2], precision: 2) %>, 
	            <%= number_with_precision(@donation_sum_euro_array[3], precision: 2) %>,
	             <%= number_with_precision(@donation_sum_euro_array[4], precision: 2) %>, 
	             <%= number_with_precision(@donation_sum_euro_array[5], precision: 2) %>, 
	             <%= number_with_precision(@donation_sum_euro_array[6], precision: 2) %>, 
	             <%= number_with_precision(@donation_sum_euro_array[7], precision: 2) %>, 
	             <%= number_with_precision(@donation_sum_euro_array[8], precision: 2) %>, 
	             <%= number_with_precision(@donation_sum_euro_array[9], precision: 2) %>, 
	             <%= number_with_precision(@donation_sum_euro_array[10], precision: 2) %>, 
	             <%= number_with_precision(@donation_sum_euro_array[11], precision: 2) %>,
	             <%= number_with_precision(@donation_sum_euro_array[12], precision: 2) %>, 
	             <%= number_with_precision(@donation_sum_euro_array[13], precision: 2) %>, 
	             <%= number_with_precision(@donation_sum_euro_array[14], precision: 2) %>, 
	             <%= number_with_precision(@donation_sum_euro_array[15], precision: 2) %>, 
	             <%= number_with_precision(@donation_sum_euro_array[16], precision: 2) %>]
	        }

	        ]
	    });


		/*$('#container-vn').highcharts({
	        title: {
	            text: 'Total possible gain for the assocation depending on Nicolas\'s performance',
	            x: -20 //center
	        },
	        xAxis: {
	        	title: {
	                text: 'Distance (km)'
	            },
	            categories: ['10km', '20km', '30km', '40km', '50km', '60km',
	                '70km', '80km', '90km', '100km', '110km', '120km',
	                '130km', '140km', '150km', '160km', '163km',
	                ]
	        },
	        yAxis: {
	            title: {
	                text: 'Donation Value'
	            },
	            plotLines: [{
	                value: 0,
	                width: 1,
	                color: '#4caf50'
	            }]
	        },
	        tooltip: {
	            valueSuffix: ''
	        },
	        legend: {
	            layout: 'vertical',
	            align: 'right',
	            verticalAlign: 'middle',
	            borderWidth: 0
	        },
	        series: [{
	            name: 'DONGS',
	            color: '#4caf50',
	            data: [<%= number_with_precision(@donation_sum_dong_array[0], precision: 0) %> , 
	            <%= number_with_precision(@donation_sum_dong_array[1], precision: 0) %>, 
	            <%= number_with_precision(@donation_sum_dong_array[2], precision: 0) %>, 
	            <%= number_with_precision(@donation_sum_dong_array[3], precision: 0) %>,
	             <%= number_with_precision(@donation_sum_dong_array[4], precision: 0) %>, 
	             <%= number_with_precision(@donation_sum_dong_array[5], precision: 0) %>, 
	             <%= number_with_precision(@donation_sum_dong_array[6], precision: 0) %>, 
	             <%= number_with_precision(@donation_sum_dong_array[7], precision: 0) %>, 
	             <%= number_with_precision(@donation_sum_dong_array[8], precision: 0) %>, 
	             <%= number_with_precision(@donation_sum_dong_array[9], precision: 0) %>, 
	             <%= number_with_precision(@donation_sum_dong_array[10], precision: 0) %>, 
	             <%= number_with_precision(@donation_sum_dong_array[11], precision: 0) %>,
	             <%= number_with_precision(@donation_sum_dong_array[12], precision: 0) %>, 
	             <%= number_with_precision(@donation_sum_dong_array[13], precision: 0) %>, 
	             <%= number_with_precision(@donation_sum_dong_array[14], precision: 0) %>, 
	             <%= number_with_precision(@donation_sum_dong_array[15], precision: 0) %>, 
	             <%= number_with_precision(@donation_sum_dong_array[16], precision: 0) %>]
	        },

	        ]
	    });*/

	});

</script>