<%
meta title: "Runforacause.fr - Sponsors",
     description: "Nicolas Privet's website, to raise fund for charity organization Les Enfants Du Dragon. Diagonale des fous.",
     keywords: %w(Nicolas Privet Enfants dragon sponsors ruby soho)
%>

<!-- for Translating large contents -->
<%= render :partial => 'sponsors_contents' %>

<div class="container roboto-regular" style="margin-top: 50px;">
	<div class="bs-callout bs-callout-yellow row">
		<div class="col-lg-12">
			<h1 class="secondarycolor" style="margin-bottom:30px;"><%= t("whoare_sponsors_title") %></h1>
		</div>
		<div class="col-lg-12">

			<%= yield :content_intro %>

		</div>
	</div>

	<div class="row">


		<div class="col-lg-12" style="margin-top:20px;">
			<h3><b class="reddark">SALOMON VIETNAM <br></b></h3><br>
		</div>

		<div class="col-lg-12"> 
			<div class="col-lg-3 col-lg-push-4">
				<%= image_tag "contact/salomon.jpg", class:"img-responsive" %>
			</div>
		</div>

		<div class="col-lg-12">
			<div class="bs-callout bs-callout-yellow row">
				<div class="col-lg-12">

					<%= yield :content_salomon %>

				</div>
				<div class="col-lg-6" style="margin-top:30px;">
					<b class="secondarycolordark"><%= t("website") %> :<br> <a href="http://thusports.com.vn" target="_blank">http://thusports.com.vn</a></b><br>
				</div>
				<div class="col-lg-6" style="margin-top:30px;">
					<br>
					<a href="https://www.facebook.com/salomon.vietnam?fref=ts" target="_blank"><b class="secondarycolordark"><i class="glyphicon glyphicon-share-alt"></i> <%= t("facebook_page") %></b></a><br>
				</div>
			</div>
		</div>

		<div class="col-lg-12" style="margin-top:20px;">
			<h3><b class="reddark">RUBY SOHO<br></b></h3><br>
		</div>

		<div class="col-lg-12"> 
			<div class="col-lg-6 col-lg-push-3">
				<%= image_tag "contact/ruby.png", class:"img-responsive" %>
			</div>
		</div>

		<div class="col-lg-12">
			<div class="bs-callout bs-callout-yellow row">
				<div class="col-lg-12">

					<%= yield :content_ruby %>

				</div>
				<div class="col-lg-6" style="margin-top:30px;">
					<b class="secondarycolordark"><%= t("address") %> :<br> S52-1, Pham Van Nghi, Sky Garden 2, Phu My Hung, District 7, Ho Chi Minh City, Vietnam</b><br>
				</div>
				<div class="col-lg-6" style="margin-top:30px;">
					<br>
					<a href="https://www.facebook.com/groups/342286199158879/?ref=ts&fref=ts" target="_blank"><b class="secondarycolordark"><i class="glyphicon glyphicon-share-alt"></i> <%= t("facebook_page") %></b></a><br>
				</div>
			</div>
		</div>

		<div class="col-lg-12" style="margin-top:20px;">
			<h3><b class="reddark">REMIPRIVET.FR</b></h3>
		</div>
		<div class="col-lg-12">
			<div class="bs-callout bs-callout-yellow row">
				<div class="col-lg-12">
					
					<%= yield :content_remi %>

				</div>
			</div>
		</div>

	<!--
		<div class="col-lg-12" style="margin-top:20px; padding-bottom:20px;">
			<h3><b class="reddark">Potential <br></b></h3><br>
			Thu sports, any others even small very welcome... ! :)
		</div>
	-->

			

	</div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53426890-4', 'auto');
  ga('send', 'pageview');

</script>