<%
meta title: "Runforacause.fr - Donation",
     description: "Nicolas Privet's website, to raise fund for charity organization Les Enfants Du Dragon. Diagonale des fous.",
     keywords: %w(Nicolas Privet Enfants dragon Make Donation)
%>

<div class="container roboto-regular" style="margin-top: 50px;">

	<div class="bs-callout bs-callout-secondarycolor row">

		<h1 class="secondarycolor text-center"> <%= t("new_title_donation") %> </h1>

		<%= bootstrap_form_for(@fund) do |f| %>

			<div class="row">
				<div class="col-lg-4">
					<%= f.text_field :firstname %>
				</div>
				<div class="col-lg-4">
					<%= f.text_field :lastname %>
				</div>
				<div class="col-lg-4">
					<%= f.email_field :email %>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4">
					<%= f.select :devise, [["EURO €", "euro"], ["USD $", "usd"], ["DONG ₫", "dong"]], { label: t('new_title_devise_donation') }, { class: "selectpicker" } %>
				</div>
				<div class="col-lg-4">
					<%= f.number_field :donation_value, step:"0.01" %>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<p id="text_explanation_total_gain_donation" style="font-style:italic"></p>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<%= f.text_area :comment %>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<!--<%= f.submit t('save'), class: "bold btn btn-default secondarycolor-bg white uppercase btn-secondarycolor-hover col-lg-4 col-lg-push-4" %> -->

					<%= button_tag(type: 'submit', class: "bold btn btn-default secondarycolor-bg white uppercase btn-secondarycolor-hover col-lg-4 col-lg-push-4") do %>
						<i class="glyphicon glyphicon glyphicon-ok"></i> <%= t("save") %>
					<% end %>

				</div>
			</div>

		  	
		<% end %>

	</div>
</div>

<script type="text/javascript">
	$( "#fund_donation_value" ).change(function() {
		var value = $( "#fund_donation_value" ).val();
		value = value * 163;
		var str = "";
		<% if I18n.locale == :en %>
			str = "If Nicolas finishes the race, your donation will correspond to " + value + " " + $("#fund_devise option:selected").text();
		<% elsif I18n.locale == :fr %>
			str = "Si Nicolas finit la course, votre don correspondra à " + value + " " + $("#fund_devise option:selected").text();
		<% end %>
		$( "#text_explanation_total_gain_donation" ).text( str );
	});
</script>