
<div class="container roboto-regular" style="margin-top: 50px;">

	<div class="bs-callout bs-callout-yellow row">

		<h1 class="deep-orange text-center"> <%= t("new_title_donation") %> </h1>

		<%= bootstrap_form_for(@fund) do |f| %>

			<div class="row">
				<div class="col-lg-4">
					<%= f.text_field :firstname %>
				</div>
				<div class="col-lg-4">
					<%= f.text_field :lastname %>
				</div>
				<div class="col-lg-4">
					<%= f.email_field :email %>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4">
					<%= f.select :devise, [["EURO €", "euro"], ["USD $", "usd"], ["DONG ₫", "dong"]], { label: "Choose the devise for donation" }, { class: "selectpicker" } %>
				</div>
				<div class="col-lg-4">
					<%= f.number_field :donation_value, step:"0.01" %>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<%= f.text_area :comment %>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<%= f.submit "Save", class: "bold btn btn-default yellow-bg white uppercase btn-yellow-hover col-lg-4 col-lg-push-4" %>
				</div>
			</div>

		  	
		<% end %>

	</div>
</div>