<%
meta title: "Runforacause.fr - Your donation",
     description: "Nicolas Privet's website, to raise fund for charity organization Les Enfants Du Dragon. Diagonale des fous.",
     keywords: %w(Nicolas Privet Enfants dragon donation resume)
%>

<div class="container roboto-regular" style="margin-top: 50px;">

	<div class="bs-callout bs-callout-secondarycolor row" style="text-size:16px;">

		<h1 class="secondarycolor text-center"><%= t("summary") %></h1>

		<div class="row">
			<div class="col-lg-2">
				<%= t("donor") %> :
			</div>
			<div class="col-lg-10">
			 	<%= @fund.firstname %> <%= @fund.lastname %>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-2">
				Email :
			</div>
			<div class="col-lg-10">
			 	<%= @fund.email %>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-2">
				<%= t("donation_by_km") %>
			</div>
			<div class="col-lg-10">
			 	<%= @fund.donation_value %> <%= @fund.devise %>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-2">
				<%= t("message_to_nicolas") %>
			</div>
			<div class="col-lg-10">
			 	<%= @fund.comment %>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-lg-12">

				<%= link_to root_path, class: 'bold btn btn-default secondarycolor-bg white uppercase btn-secondarycolor-hover col-lg-4 col-lg-push-4' do %>
					<%= t("back_to_home") %> <i class="glyphicon glyphicon-chevron-right"></i> 
				<% end %>
			</div>
		</div>

	</div>
</div>